/**logo**/
.nav-brand{
    font-size: 23px;
}
/****/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    position: relative;
    top: 30px;
}
section.banner>.container{
    position: relative;
    z-index: 2;
}

section.banner{
    padding: 210px 0;
    min-height: 400px;
    background-image: url('../img/bg.jpg');
    width: 100%;
    background-size: cover;
    background-position: center;
}
.chamada-banner h2{
    color: #26A599;
    font-size: 50px;
}
.orvelay{
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: rgb(0,0,0,0.5);
}
.chamada-banner p{
    color: white;
    font-size: 21;
    font-weight: 300;
}
section.cadastro-lead{
    background: #26A599;
    padding: 20px 0;
}
section.cadastro-lead h2{
    color: white;
    font-size: 24px;
    vertical-align: middle;
}
section.cadastro-lead form{
    position: relative;
    top: 10px
}
section.cadastro-lead input[type=text]{
    width: 70%;
    height: 40px;
    border: 1px solid #ccc;
}
section.cadastro-lead input[type=submit]{
    width: 10%;
    height: 40px;
    border: 1px solid #ccc;

}
section.depoimento h2{
    color:#4b4b4b;

}
section.depoimento blockquote{
    color: #4b4b4b;
    font-size: 16px;
}
section.diferencias{
    padding: 30px;
    background: rgb(225, 225, 225);
}
.diferencias-container{
    margin-top: 10px;
}
.diferencias-container h3{
    color: #26A599;
}
.equipe-container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.equipe-single{
    width: 100%;
    padding: 20px 10px;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
section.equipe h2{
    margin: 0;
    text-align: center;
    padding: 10px 2%;
    background: #26A599;
    color:white;
}
.user-picture{
    width: 100%;
    padding-top: 100%;
    background: #ccc;
    border-radius: 50%;
}
@media screen and (max-width:1024px){
    section.cadastrp-lead form{
        position: relative;
        top: 0px;
    }
}
