body{
  background-color: rgb(255, 255, 255);
}

  .navbar .navbar-brand , .cor-padrao{
    border-color: #4c7b94 !important;
    color: white !important;
    background-color: #103751 !important;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #8f8b94;
  }
  .navbar .navbar-text {
    color: #5ec1b4;
  }
  .navbar .navbar-text a {
    color: #8f8b94;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #8f8b94; 
  }
  .navbar .navbar-nav .nav-link {
    color: #5ec1b4;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #8f8b94;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #8f8b94;
    background-color: #37368d;
  }
  .navbar .navbar-toggler {
    border-color: #37368d;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #37368d;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #5ec1b4;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #5ec1b4;
  }
  .navbar .navbar-link {
    color: #5ec1b4;
  }
  .navbar .navbar-link:hover {
    color: #8f8b94;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #5ec1b4;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #8f8b94;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #8f8b94;
      background-color: #37368d;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #5ec1b4;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #8f8b94;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #8f8b94;
      background-color: #37368d;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #5ec1b4;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #8f8b94;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #8f8b94;
      background-color: #37368d;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #5ec1b4;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #8f8b94;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #8f8b94;
      background-color: #37368d;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #5ec1b4;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8f8b94;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8f8b94;
    background-color: #37368d;
  }

.navbar{
    margin-bottom: 0 !important;
}
header#header{
    background-color: #333;
    color: white;
    margin-bottom: 20px;
}
#header h2{
  margin-top: 20px;
}
#header p{
  margin-top: 20px;
  position: relative;
  top: 10px;
}
